@model CalendarDate.Models.InputModel

<!DOCTYPE html>
<html>
<head>
    <title>Input </title>
    <style>
        Small {
            background: #cccccc;
        
        }
    </style>
</head>

<body>
    <form method="post">
        <fieldset>
            <legend>Analyze</legend>
            <table>


                <tr>
                    <td>Year:</td>
                    <td> @Html.TextBoxFor(model => model.Year, new { @type = "number", @Value = "2024" })</td>
                </tr>
                <tr>
                    <td>Hourly Pay:</td>
                    <td> @Html.TextBoxFor(model => model.HourlyPay, new { @type = "number", @Value = "80" })
                  </td>
                </tr>
                <tr>
                    <td>Working Hours Per Day:</td>
                    <td>
                        @Html.TextBoxFor(model => model.WorkingHoursPerDay, new { @type = "number", @Value = "8" })
                        <br />
                        <br />
                    </td>
                </tr>
                
                <tr>
                    <td>Holidays Per Day Month:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        January
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.JanHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        February
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.FebHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        March
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.MarHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        April
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.AprHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        May
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.MayHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        June
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.JunHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        July
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.JulHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        August
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.AugHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        September
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.SepHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        October
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.OctHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        November
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.NovHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td>
                        December
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Holidays.DecHoliday, new { @type = "number", @Value = "0" })
                    </td>
                </tr>
                <tr>
                    <td</td>
                    <td> <input type="submit" value="Analyze" class="submit" /></td>
                </tr>
            </table>
       
    </form>
  
</body>
</html>